<!DOCTYPE html>
{% load static %} 
<html lang="en">


<!-- doctors23:12-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets_admin/img/logo.png' %}">
    <title>ZillionHire - Admin - Jobs List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets_admin/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'assets_admin/css/font-awesome.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets_admin/css/select2.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets_admin/css/bootstrap-datetimepicker.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets_admin/css/style.css'%}">
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <style>
        .approved {
          font-weight: bold;
          color: green;
        }
      
        .not-approved {
          font-weight: bold;
          color: red;
        }
      </style>
</head> 

<body>
    <div class="main-wrapper">
         <div class="header">
                    
                </div>
                <div class="header">
                    <div class="header-left">
                        <a href="{% url 'admin_index2' %}" class="logo">
                            <img src="{% static 'assets_admin/img/logo.png' %}" width="35" height="35" alt=""> <span>ZillionHire</span>
                        </a>
                    </div>
                    <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
                    <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
                    <ul class="nav user-menu float-right">
                        <li class="nav-item dropdown d-none d-sm-block">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="fa fa-bell-o"></i> <span class="badge badge-pill bg-danger float-right">3</span></a>
                            <div class="dropdown-menu notifications">
                                <div class="topnav-dropdown-header">
                                    <span>Notifications</span>
                                </div>
                                
                            </div>
                        </li>
                        
                        <li class="nav-item dropdown has-arrow">
                            <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                                <span class="user-img">
                                    <img class="rounded-circle" src="{% static 'assets_admin/img/user.jpg' %}" width="24" alt="Admin">
                                    <span class="status online"></span>
                                </span>
                                <span>Admin</span>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'admin_profile' %}">My Profile</a>
                                <a class="dropdown-item" href="{% url 'admin_editprofile' %}">Edit Profile</a>
        
                                <a class="dropdown-item" href="{% url 'admin_login' %}">Logout</a>
                            </div>
                        </li>
                    </ul>
                    <div class="dropdown mobile-user-menu float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{% url 'admin_profile' %}">My Profile</a>
                            <a class="dropdown-item" href="{% url 'admin_editprofile' %}">Edit Profile</a>
                            
                            <a class="dropdown-item" href="{% url 'admin_login' %}">Logout</a>
                        </div>
                    </div>
                </div>
                <div class="sidebar" id="sidebar">
                    <div class="sidebar-inner slimscroll">
                        <div id="sidebar-menu" class="sidebar-menu">
                            <ul>
                                <li class="menu-title">Main</li>
                        <li >
                            <a href="{% url 'admin_index2' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
						{% comment %} <li>
                            <a href="{% url 'admin_poststudent' %}"><i class="fa-solid fa-user-graduate"></i> <span>Students</span></a>
                        </li> {% endcomment %}
                        <li>
                            <a href="{% url 'ad_studentlist' %}"><i class="fa-solid fa-award"></i> <span> Students List</span></a>
                        </li>
                        <li>
                            <a href="{% url 'admin_addstudents' %}"><i class="fa-solid fa-award"></i> <span>Add student</span></a>
                        </li>
                        
                        <li  class="submenu" class="active">
                            <a href="#"><i class="fas fa-user-tie"></i> <span> Company </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="{% url 'companyapprove' %}">Approve Company</a></li>
                                <li><a href="{% url 'companyprofilelist' %}">Company List</a></li>
                                <li class="active"><a href="{% url 'jobslist' %}">Jobs</a></li>
                                {% comment %} <li><a href="{% url 'admin_company' %}">Applied Students</a></li>
                                <li><a href="{% url 'admin_company' %}">Short Listed Students</a></li> {% endcomment %}
                                
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'adminappstudents' %}"><i class="fa-solid fa-user-check"></i> <span>Applied Students</span></a>
                        </li>
                        <li>
                            <a href="{% url 'adminappstudents' %}"><i class="fa-solid fa-award"></i> <span>Short Listed Students</span></a>
                        </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                    <div class="page-wrapper">
                        <div class="content">
                            <div class="row">
                                <div class="col-sm-4 col-3">
                                    <h4 class="page-title">JOBS</h4>
                                </div>
                                 
                            </div>
                            <div class="row"> 
                                <div class="col-md-12">
                                    <form id="search-form" method="GET" action="{% url 'search_job' %}">
                                        <div class="input-group">
                                            <a href="{% url 'jobslist' %}" class="btn btn-secondary"><i class="fa fa-arrow-left"></i></a>&ensp;&ensp;&ensp;&ensp;
                                            <input type="text" class="form-control" name="jobsname" placeholder="Search by Job Name">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> </button>
                                            </div>
                                        </div>
                                    </form>
                                    
                                </div>
                            </div><br><br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped custom-table">
                                            <thead>
                                                <tr>
                                                    <th>Company</th>
                                                    <th>Job</th>
                                                    <th>Salary</th>
                                                    <th>Email</th>
                                                    <th>Appl.Start Date</th>
                                                    <th>Appl.End Date</th>
                                                    <th>Link</th>
                                                    <th>Active</th>
                                                    <th class="text-right">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tbody>
                                                    {% for job in job_list %}

                                                    <tr>
                                                        <td>{{ job.cname }}</td>
                                                        <td>{{ job.jname }}</td>
                                                        <td>{{ job.salary }}</td>
                                                        <td>{{ job.email }}</td>
                                                        <td>{{ job.sdate }}</td>
                                                        <td>{{ job.edate }}</td>
                                                        <td>{{ job.link }}</td>
                                                        <td>{{ job.is_active }}</td>
                                                       
                                                        
                                                        </td>
                                                        <td>
                                                            {% if job.is_approved == 'pending' %}
                                                            <span class="not-approved">Not Approved</span>
                                                            {% else %}
                                                            <span class="approved">Approved</span>
                                                            {% endif %}
                                                          </td>
                                                        
                                                        </td>
                                                        <td>
                                                            {% if job.is_approved == 'pending' %}
                                                            <form method="post" action="{% url 'approved_jobs' job.id %}">
                                                                {% csrf_token %}
                                                                <button type="submit" class="btn btn-success">Approve</button>
                                                            </form>
                                                            {% else %}
                                                            <button disabled="" type="button" class="btn btn-success">Approved</button>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
    </div>





                      <div class="sidebar-overlay" data-reff=""></div>
                      <script src="{% static 'assets_admin/js/jquery-3.2.1.min.js'%}"></script>
                      <script src="{% static 'assets_admin/js/popper.min.js'%}"></script>
                      <script src="{% static 'assets_admin/js/bootstrap.min.js'%}"></script>
                      <script src="{% static 'assets_admin/js/jquery.slimscroll.js'%}"></script>
                      <script src="{% static 'assets_admin/js/select2.min.js'%}"></script>
                      <script src="{% static 'assets_admin/js/moment.min.js'%}"></script>
                      <script src="{% static 'assets_admin/js/bootstrap-datetimepicker.min.js'%}"></script>
                      <script src="{% static 'assets_admin/js/app.js'%}"></script>

                    
                  </body>
</html>