
{% load static %}

<script>
 

// Function to validate first and last name
function validateName(inputField) {
    var nameRegex = /^[a-zA-Z]+$/;
    var firstNameValue = document.getElementById('first_name').value.toLowerCase();
    var lastNameValue = document.getElementById('last_name').value.toLowerCase();
    var fieldValue = inputField.value.toLowerCase();
    var feedback = inputField.nextElementSibling; // Get the sibling for feedback
    var admissionNumberField = document.getElementById('admission_no');

    if (!fieldValue.trim()) {
        feedback.innerHTML = "Please fill out this field.";
        feedback.style.color = "red";
    } else if (!nameRegex.test(fieldValue)) {
        feedback.innerHTML = "Only alphabets are allowed.";
        feedback.style.color = "red";
    } else {
        feedback.innerHTML = "";
        // Check if both first name and last name match
        if (fieldValue === firstNameValue && fieldValue === lastNameValue) {
            admissionNumberField.value = getAdmissionNumber(inputField.value);
        }
    }
}

// Function to get admission number based on first name
function getAdmissionNumber(firstName) {
    var matchingEntry = admissionNumberSuggestions.find(function(entry) {
        return entry.toLowerCase().includes(firstName.toLowerCase());
    });

    if (matchingEntry) {
        return matchingEntry;
    } else {
        return "";
    }
}

// ... Other functions ...

    // Function to validate email
    function validateEmail(inputField) {
        var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        var fieldValue = inputField.value;
        var feedback = inputField.nextElementSibling; // Get the sibling for feedback

        if (!fieldValue.trim()) {
            feedback.innerHTML = "Please fill out this field.";
            feedback.style.color = "red";
        } else if (!emailRegex.test(fieldValue)) {
            feedback.innerHTML = "Invalid email address.";
            feedback.style.color = "red";
        } else {
            feedback.innerHTML = "";
        }
    }

    // Function to validate license number
    {% comment %} function validateLicenseNumber(inputField) {
        var licenseRegex = /^MDIN\d+$/;
        var fieldValue = inputField.value;
        var feedback = inputField.nextElementSibling; // Get the sibling for feedback

        if (!fieldValue.trim()) {
            feedback.innerHTML = "Please fill out this field.";
            feedback.style.color = "red";
        } else if (!licenseRegex.test(fieldValue)) {
            feedback.innerHTML = "License number should start with 'MDIN' followed by digits.";
            feedback.style.color = "red";
        } else {
            feedback.innerHTML = "";
        }
    } {% endcomment %}

    // Function to validate phone number
    function validatePhoneNumber(inputField) {
        var phoneRegex = /^\d{10}$/;
        var fieldValue = inputField.value;
        var feedback = inputField.nextElementSibling; // Get the sibling for feedback

        if (!fieldValue.trim()) {
            feedback.innerHTML = "Please fill out this field.";
            feedback.style.color = "red";
        } else if (!phoneRegex.test(fieldValue)) {
            feedback.innerHTML = "Invalid Phone number";
            feedback.style.color = "red";
        } else {
            feedback.innerHTML = "";
        }
    }

  
   
    

  
</script>

<div class="header">
    <div class="header-left">
        <a href="{% url 'admin_index2' %}" class="logo">
            <img src="{% static 'assets_admin/img/logo.png' %}" width="35" height="35" alt=""> <span>ZillionHire</span>
        </a>
    </div>
    <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
    <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
    <ul class="nav user-menu float-right">
        <li class="nav-item dropdown d-none d-sm-block">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="fa fa-bell-o"></i> <span class="badge badge-pill bg-danger float-right">3</span></a>
            <div class="dropdown-menu notifications">
                <div class="topnav-dropdown-header">
                    <span>Notifications</span>
                </div>
                
            </div>
        </li>
        
        <li class="nav-item dropdown has-arrow">
            <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                <span class="user-img">
                    <img class="rounded-circle" src="{% static 'assets_admin/img/user.jpg' %}" width="24" alt="Admin">
                    <span class="status online"></span>
                </span>
                <span>Admin</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'admin_profile' %}">My Profile</a>
                <a class="dropdown-item" href="{% url 'admin_editprofile' %}">Edit Profile</a>

                <a class="dropdown-item" href="{% url 'admin_login' %}">Logout</a>
            </div>
        </li>
    </ul>
    <div class="dropdown mobile-user-menu float-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{% url 'admin_profile' %}">My Profile</a>
            <a class="dropdown-item" href="{% url 'admin_editprofile' %}">Edit Profile</a>
            
            <a class="dropdown-item" href="{% url 'admin_login' %}">Logout</a>
        </div>
    </div>
</div>
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">Main</li>
                <li >
                    <a href="{% url 'admin_index2' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                </li>
    {% comment %} <li>
                    <a href="{% url 'admin_poststudent' %}"><i class="fa-solid fa-user-graduate"></i> <span>Students</span></a>
                </li> {% endcomment %}
                <li class="active">
                    <a href="{% url 'ad_studentlist' %}"><i class="fa-solid fa-award"></i> <span> Students List</span></a>
                </li>
                <li>
                    <a href="{% url 'admin_addstudents' %}"><i class="fa-solid fa-award"></i> <span>Add student</span></a>
                </li>
                
                <li class="submenu">
                    <a href="#"><i class="fas fa-user-tie"></i> <span> Company </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="{% url 'companyapprove' %}">Approve Company</a></li>
                        <li><a href="{% url 'companyprofilelist' %}">Company List</a></li>
                        <li><a href="{% url 'jobslist' %}">Jobs</a></li>
                        {% comment %} <li><a href="{% url 'admin_company' %}">Applied Students</a></li>
                        <li><a href="{% url 'admin_company' %}">Short Listed Students</a></li> {% endcomment %}
                        
                    </ul>
                </li>
                <li>
                    <a href="{% url 'adminappstudents' %}"><i class="fa-solid fa-user-check"></i> <span>Applied Students</span></a>
                </li>
                <li>
                    <a href="{% url 'admin_shortlist' %}"><i class="fa-solid fa-award"></i> <span>Short Listed Students</span></a>
                </li>
                
            </ul>
        </div>
    </div>
</div> 
<div class="page-wrapper">
  <div class="content">
      <div class="row">
          <div class="col-sm-4 col-3">
              <h4 class="page-title">ADD STUDENT</h4>
          </div>
<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Icon Cards-->
        <div class="row">
            <div class="container-fluid">
                <h2 class="mt-3 text-center">Add Student</h2>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <form method="POST" action="{% url 'add_student' %}" enctype="multipart/form-data">
                            {% csrf_token %}

                            {% comment %} <div class="form-group">
                                <label for="first_name">First Name</label>
                                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Your first name" oninput="validateName(this)">
                                <div class="feedback" style="color: red;"></div>
                            </div> {% endcomment %}
                            <div class="form-group">
                                <label for="first_name">First Name</label>
                                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Your first name" oninput="suggestFirstName(this)">
                                <ul id="first_name_suggestions" class="suggestions"></ul>
                                <div class="feedback" style="color: red;"></div>
                            </div>

                            {% comment %} <div class="form-group">
                                <label for="last_name">Last Name</label>
                                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Your last name" oninput="validateName(this)">
                                <div class="feedback" style="color: red;"></div>
                            </div> {% endcomment %}
                            <div class="form-group">
                                <label for="last_name">Last Name</label>
                                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Your last name" oninput="suggestLastName(this)">
                                <ul id="last_name_suggestions" class="suggestions"></ul>
                                <div class="feedback" style="color: red;"></div>
                            </div>
                            
 
                            <div class="form-group">
                                <label for="email">Email Address</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Your email address" oninput="validateEmail(this)">
                                <div class="feedback" style="color: red;"></div>
                            </div>
                            
                            {% comment %} <div class="form-group">
                               <label for="license_no">Admission Number</label>
                                <input type="text" class="form-control" id="license_no" name="Admission_no" placeholder="Your License Number" oninput="validateLicenseNumber(this)">
                                <div class="feedback" style="color: red;"></div>
                            </div> {% endcomment %}
                            <div class="form-group">
                                <label for="admission_no">Admission Number</label>
                                <input type="text" class="form-control" id="admission_no" name="admission_no" placeholder="Your Admission Number" oninput="suggestAdmissionNumber(this)">
                                <ul id="admission_no_suggestions" class="suggestions"></ul>
                                <div class="feedback" style="color: red;"></div>
                            </div>
                            

                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="Your Phone Number" oninput="validatePhoneNumber(this)">
                                <div class="feedback" style="color: red;"></div>
                            </div>

                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        {% if message.tags == 'error' %}
                                            <div class="alert alert-danger">
                                                {{ message }}
                                            </div>
                                        {% elif message.tags == 'success' %}
                                            <div class="alert alert-success">
                                                {{ message }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            <div class="text-center mt-4">
                                <button id="submitstu" type="submit" class="btn btn-warning" style="min-width: 15em;">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>          
</div>
</div>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets_admin/img/logo.png' %}">
    <title>ZillionHire - Admin - Students List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets_admin/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'assets_admin/css/font-awesome.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets_admin/css/select2.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets_admin/css/bootstrap-datetimepicker.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets_admin/css/style.css'%}">
<style>

    .feedback {
        font-size: 14px;
        margin-top: 5px;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f0f4f7;
    }

    #content-wrapper {
        padding: 10px;
        margin-left:-10px;
    }

    .container-fluid {
        padding: 80px;
        background-color: #fff;
        border: 1px solid #d1d8e0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        max-width: 1000px;
        margin: 2 auto;
        
    }

    h2 {
        color: #3498db;
        text-align: center;
    }

    .form-group label {
        color: #3498db;
        font-weight: bold;
    }

    .form-group input.form-control {
        border: 1px solid #3498db;
        width: 100%;
        padding: 2px;
        margin-bottom: 50px;
    }

    .form-group input.form-control:focus {
        border-color: #2980b9;
    }

    .btn.btn-warning {
        background-color: #3498db;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-weight: bold;
        transition: background-color 0.3s ease-in-out;
        width: 100%;
        padding: 6px;
        cursor: pointer;
    }

    .btn.btn-warning:hover {
        background-color: #2980b9;
    }

    .alerts {
        margin-top: 10px;
    }

    .alerts .alert {
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 10px;
        font-weight: bold;
    }

    .alerts .alert-danger {
        background-color: #e74c3c;
        color: #fff;
        border: 1px solid #c0392b;
    }

    .alerts .alert-success {
        background-color: #2ecc71;
        color: #fff;
        border: 1px solid #27ae60;
    }
</style>
</head>
