<!DOCTYPE html>
{% load static %} 
<html lang="en">


<!-- doctors23:12-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets2/img/logo.png' %}">
    <title>ZillionHire - Company Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/css/style.css' %}">
   
        <script src="{% static 'assets2/js/html5shiv.min.js' %}"></script>
        <script src="{% static 'assets2/js/respond.min.js' %}"></script>
       
    <style>
        .approved {
          font-weight: bold;
          color: green;
        }
      
        .not-approved {
          font-weight: bold;
          color: red;
        }
        .custom-card {
            margin-left: 250px; /* Adjust the value as needed */
        }
      </style>
</head> 

<body>
    <header class="">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            {% comment %} <a class="navbar-brand" href="{% url 'index' %}"><h2>ZillionHire <em> Website</em></h2></a> {% endcomment %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                  <a class="nav-link" href="{% url 'cindex' %}">Home
                    {% comment %} <span class="sr-only">(current)</span> {% endcomment %}
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'aboutuser' %}">About Us</a>
                </li>
                {% comment %} <li>
                  <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Others</a>
                
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'cprofile' %}">Profile</a>
                      <a class="dropdown-item" href="{% url 'loginn' %}">Jobs</a>
                      <a class="dropdown-item" href="{% url 'loginn' %}">Candidate List</a>
                      
                  </div>
                </li> {% endcomment %}
                <li class="nav-item dropdown">
                  {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'loggout' %}">Log Out</a>
                  {% else %}
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Login</a>
                
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'loginn' %}">Student</a>
                      <a class="dropdown-item" href="{% url 'loginn' %}">Company</a>
                      {% comment %} <a class="dropdown-item" href="{% url 'loginn' %}">College Officer</a> {% endcomment %}
                      {% comment %} <a class="dropdown-item" href="{% url 'blog' %}">Blog</a>
                      <a class="dropdown-item" href="testimonials.html">Testimonials</a>
                      <a class="dropdown-item" href="terms.html">Terms</a> {% endcomment %}
                  </div>
                  {% endif %}
                </li> 
                
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contactuser' %}">Contact Us</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'postjob' %}">Post Job</a>
                  <span class="sr-only">(current)</span>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
                <div class="sidebar" id="sidebar">
                    <div class="sidebar-inner slimscroll">
                        <div id="sidebar-menu" class="sidebar-menu">
                            <ul>
                                <li class="menu-title">Main</li>
                                {% comment %} <li>
                                    <a href="{% url 'index-2' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                                </li> {% endcomment %}
                                <li class>
                                  <a href="{%url 'postjob'%}"><i class="fa-solid fa-desktop"></i> <span>JOBS</span></a>
                              </li>
                              <li class="active">
                                <a href="{%url 'appliedstudents'%}"><i class="fas fa-user"></i> <span>APPLIED CANDIDATES</span></a>
                              </li>
                              <li class>
                                <a href="{%url 'cfirstround'%}"><i class="fas fa-user"></i> <span>SHORT LISTED CANDIDATES </span></a>
                              </li>
                              
                                
                            </ul>
                        </div>
                    </div>
                </div>
                    <div class="page-wrapper">
                        <div class="content">
                          <div class="row">
                            <div class="col-sm-4 col-3">
                                <h4 class="page-title">APPLIED STUDENTS</h4>
                            </div>
                            <div class="col-sm-8 offset-sm-4 text-right">
                                <div class="col-sm-4 col-3">
                                    <a href="{% url 'appliedstudents' %}" class="btn btn-primary">Aptitude notification</a>
                                </div>
                            </div>
                        </div>
                            </div>
                      
                            
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped custom-table">
                                            <thead>
                                                <tr>
                                                  
                                                    <th>Name </th>
                                                 
                                                    <th>Email</th>
                                                    <th>Phone</th>
                                                   
                                                    <th>10th CGPA</th>
                                                    <th>12th CGPA</th>
                                                    <th>UG CGPA</th>
                                                    <th>Current CGPA</th>
                                                    <th>Active Backlogs</th>
                                                    
                                                   
                                                    <th>profile</th>
                                                    <th class="text-right">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tbody>
                                                    {% for appstu in app_stu %}

                                                    <tr>
                                                        {% comment %} <td>{{ appstu.id }}</td> {% endcomment %}
                                                        <td>{{ appstu.first_name }}&nbsp;{{ appstu.last_name }}</td>
                                                        
                                                        <td>{{ appstu.email }}</td>
                                                        <td>{{ appstu.phone }}</td>
                                                       
                                                        <td>{{ appstu.tenth_cgpa }}</td>
                                                        <td>{{ appstu.twelfth_cgpa }}</td>
                                                        <td>{{ appstu.ug_cgpa }}</td>
                                                        <td>{{ appstu.c_cgpa }}</td>
                                                        <td>{{ appstu.c_backlog }}</td>
                                                        
                                                        <td>
                                                         
                                                          <form method="post" action="{% url 'studentprofileapp' studentprofile_id=appstu.id %}">
                                                              {% csrf_token %}
                                                              <button type="submit" class="btn btn-success">Profile</button>
                                                          </form>
                                                          
                                                          
                                                      </td>
                                                        
                                                        </td>
                                                     
                                                        
                                                        </td>
                                                        <td>
                                                            {% if appstu.is_approved == 'pending' %}
                                                            <form method="post" action="{% url 'approve_shortlist' appstu.id %}">
                                                                {% csrf_token %}
                                                                <button type="submit" class="btn btn-success">Select</button>
                                                            </form>
                                                            <form method="post" action="{% url 'reject_shortlist' appstu.id %}">
                                                              {% csrf_token %}
                                                              <button type="submit" class="btn btn-danger">Reject</button>
                                                            </form>
                                                            {% elif  appstu.is_approved == 'approved' %}
                                                            <button disabled="" type="button" class="btn btn-success">Approved</button>
                                                            {% else  %}
                                                            <button disabled="" type="button" class="btn btn-danger">Rejected</button>
                                                            {% endif  %}
                                                        </td>  
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
    </div>





</div>
<div class="sidebar-overlay" data-reff=""></div>
<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'assets/js/select2.min.js' %}"></script>
<script src="{% static 'ssets/js/moment.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'assets/js/app.js' %}"></script>

                    
                  </body>
</html>