<!DOCTYPE html>
{% load static %} 
<html lang="en">


<!-- doctors23:12-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets2/img/logo.png' %}">
    <title>ZillionHire - Company Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/css/style.css' %}">
   
        <script src="{% static 'assets2/js/html5shiv.min.js' %}"></script>
        <script src="{% static 'assets2/js/respond.min.js' %}"></script>
       
    <style>
        .approved {
          font-weight: bold;
          color: green;
        }
      
        .not-approved {
          font-weight: bold;
          color: red;
        }
        .custom-card {
            margin-left: 250px; /* Adjust the value as needed */
        }
      </style>
</head> 

<body>
    <header class="">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            {% comment %} <a class="navbar-brand" href="{% url 'index' %}"><h2>ZillionHire <em> Website</em></h2></a> {% endcomment %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                  <a class="nav-link" href="{% url 'cindex' %}">Home
                    {% comment %} <span class="sr-only">(current)</span> {% endcomment %}
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'aboutuser' %}">About Us</a>
                </li>
                {% comment %} <li>
                  <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Others</a>
                
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'cprofile' %}">Profile</a>
                      <a class="dropdown-item" href="{% url 'loginn' %}">Jobs</a>
                      <a class="dropdown-item" href="{% url 'loginn' %}">Candidate List</a>
                      
                  </div>
                </li> {% endcomment %}
                <li class="nav-item dropdown">
                  {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'loggout' %}">Log Out</a>
                  {% else %}
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Login</a>
                
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'loginn' %}">Student</a>
                      <a class="dropdown-item" href="{% url 'loginn' %}">Company</a>
                      {% comment %} <a class="dropdown-item" href="{% url 'loginn' %}">College Officer</a> {% endcomment %}
                      {% comment %} <a class="dropdown-item" href="{% url 'blog' %}">Blog</a>
                      <a class="dropdown-item" href="testimonials.html">Testimonials</a>
                      <a class="dropdown-item" href="terms.html">Terms</a> {% endcomment %}
                  </div>
                  {% endif %}
                </li> 
                
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contactuser' %}">Contact Us</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'postjob' %}">Post Job</a>
                  <span class="sr-only">(current)</span>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
                <div class="sidebar" id="sidebar">
                    <div class="sidebar-inner slimscroll">
                        <div id="sidebar-menu" class="sidebar-menu">
                            <ul>
                                <li class="menu-title">Main</li>
                                {% comment %} <li>
                                    <a href="{% url 'index-2' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                                </li> {% endcomment %}
                                <li class>
                                  <a href="{%url 'postjob'%}"><i class="fa-solid fa-desktop"></i> <span>JOBS</span></a>
                              </li>
                              <li class>
                                <a href="{%url 'appliedstudents'%}"><i class="fas fa-user"></i> <span>APPLIED CANDIDATES</span></a>
                              </li>
                              <li class>
                                <a href="{%url 'cfirstround'%}"><i class="fas fa-user"></i> <span>SHORT LISTED CANDIDATES </span></a>
                              </li>
                              
                                
                            </ul>
                        </div>
                    </div>
                </div>
                    <div class="page-wrapper">
                        <div class="content">
                            <div class="row">
                                <div class="col-sm-4 col-3">
                                    <h4 class="page-title">EVENT FORM</h4>
                                </div>
                                
                            </div>
                         
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="container-fluid px-1 py-5 mx-auto">
                                        <div class="row d-flex justify-content-center">
                                            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                                               <div class="card">
                                                {% comment %} <button type="button" class="btn btn-primary" onclick="location.href='{% url 'ceventlist' %}'">Add New Event</button> {% endcomment %}

                                                    <h5 class="text-center mb-4">Add Events</h5>
                                                    <form class="form-card" method="post" enctype="multipart/form-data" action="{% url 'company_event_form'  %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="company_id" value="{{ company_id }}">
                                                        <div class="row justify-content-between text-left">
                                                            <div class="form-group col-sm-6 flex-column d-flex">
                                                                <label class="form-control-label px-3">Title<span class="text-danger"> *</span></label>
                                                                <input type="text" id="title" name="title" placeholder="Enter event title" onblur="validate(1)">
                                                            </div>
                                                            <div class="form-group col-sm-6 flex-column d-flex">
                                                                <label class="form-control-label px-3">Description<span class="text-danger"> *</span></label>
                                                                <input type="text" id="description" name="description" placeholder="Enter event description" onblur="validate(2)">
                                                            </div>
                                                        </div>
                                                        <div class="row justify-content-between text-left">
                                                            <div class="form-group col-sm-6 flex-column d-flex">
                                                                <label class="form-control-label px-3">Date<span class="text-danger"> *</span></label>
                                                                <input type="date" id="date" name="date">
                                                            </div>
                                                            <div class="form-group col-sm-6 flex-column d-flex">
                                                                <label class="form-control-label px-3">Upload Image<span class="text-danger"> *</span></label>
                                                                <input type="file" id="image" name="image">
                                                            </div>
                                                        </div>
                                                        <div class="row justify-content-between text-left">
                                                            <div class="form-group col-sm-6 flex-column d-flex">
                                                                <label class="form-control-label px-3">Event Type<span class="text-danger"> *</span></label>
                                                                <select id="event_type" name="event_type">
                                                                    <option value="offline">Offline</option>
                                                                    <option value="online">Online</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-sm-6 flex-column d-flex">
                                                                <label class="form-control-label px-3">Link<span class="text-danger"> *</span></label>
                                                                <input type="text" id="link" name="link" placeholder="Enter event link" onblur="validate(2)">
                                                            </div>
                                                        </div>
                                                        <div class="row justify-content-end">
                                                            <div class="form-group col-sm-6">
                                                                <button type="submit" class="btn-block btn-primary">Submit</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
    </div>





</div>
<div class="sidebar-overlay" data-reff=""></div>
<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'assets/js/select2.min.js' %}"></script>
<script src="{% static 'ssets/js/moment.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'assets/js/app.js' %}"></script>

                    
                  </body>
</html>